.post-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 1vw;
  margin-top: 2vh;
  width: 59vw;
}

.post-user .avatar {
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 90px;
  border: 0.2px solid #ccc;
}

.post-user .post-user__details {
  margin-left: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 91.52542373%;
}

.post-user .post-user__details .user-details {
  width: 92.6%;
}

.post-user .post-user__details .user-details h4 {
  margin: 0;
}

.post-user .post-user__details .user-details small {
  color: #878787;
  font-size: 15px;
  font-weight: normal;
  display: block;
}

.post-user .post-user__details .post-menu-trigger {
  display: inline-block;
  margin-right: 1vw;
  justify-self: flex-end;
  color: #878787;
  font-size: 1.5rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-user .post-user__details .post-menu-trigger:hover {
  background-color: #f2f3f5;
}

.post-caption {
  margin-left: 1vw;
  margin-top: 2vh;
  font-size: 16px;
}

.post-caption p {
  font-weight: 400;
  margin: 0;
}

.post-caption .post-tags {
  color: #0057ff;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.post-caption .post-tags:hover {
  text-decoration: underline;
}

.post-picture {
  height: auto;
  max-height: 80vh;
  width: 100%;
  background-size: cover;
  margin-top: 2vh;
}

.post {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  margin: 0;
  margin-top: 5vh;
  background-color: white;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 6px 5px 2px rgba(0, 0, 0, 0.5);
}

.transparent-backdrop {
  width: 100vw;
  height: 100vw;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.post-dropdown {
  margin: 0;
  z-index: 11;
  position: absolute;
  padding: 0;
  display: inline;
  border: 0;
  top: 10vh;
  left: 66%;
  border-radius: 20px;
  width: 20vw;
  height: 20vh;
  -webkit-box-shadow: -2px 6px 8px 4px rgba(0, 0, 0, 0.5);
          box-shadow: -2px 6px 8px 4px rgba(0, 0, 0, 0.5);
}

.post-dropdown ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.post-dropdown li:first-of-type {
  margin-top: 2vh;
}

.post-dropdown li {
  width: inherit;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
}

.post-dropdown li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  margin: 0;
  width: 90%;
  border-radius: 10px;
  height: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: normal;
  background-color: white;
}

.post-dropdown li button i {
  margin-right: 1vw;
}

.post-dropdown li button:hover {
  background-color: #eeecec;
  color: #13c6ff;
}

.post-content {
  width: 100%;
}

.modal-button {
  margin-top: 6.64vh;
  height: 7.76vh;
  width: 18.55636896046852vw;
  border-radius: 310px;
  background-color: #13c6ff;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 2vw;
}

.modal-button:hover {
  background-color: #0bb0e2;
}

.modal-button-inverse {
  margin-top: 6.64vh;
  height: 7.76vh;
  width: 18.55636896046852vw;
  border-radius: 310px;
  background-color: white;
  font-size: 16px;
  color: #13c6ff;
  border: 1px solid #13c6ff;
  cursor: pointer;
}

.modal-button-inverse:hover {
  background-color: #f2f3f5;
}

.delete-post-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delete-post-modal .modal__content p {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
}

@media (max-width: 860px) {
  .post {
    width: 70vw;
  }
  .post-user {
    width: 69vw;
  }
  .post-dropdown {
    left: 56%;
  }
}

@media (max-width: 600px) {
  .post {
    width: 80vw;
  }
  .post-user {
    width: 79vw;
  }
  .post-dropdown {
    left: 61%;
  }
}

@media (max-width: 450px) {
  .post {
    width: 90vw;
  }
  .post .post-dropdown {
    left: 54%;
  }
  .post-user {
    width: 89vw;
  }
}

@media (max-width: 860px) {
  .post-dropdown {
    width: 30vw;
  }
}

@media (max-width: 510px) {
  .post-dropdown {
    width: 40vw;
    left: 49%;
  }
}

@media (max-width: 360px) {
  .post .post-dropdown {
    width: 50vw;
    left: 43%;
  }
}

@media (max-width: 500px) {
  .delete-post-form button {
    width: 25vw;
  }
}

.edit-post {
  border: none;
  border-radius: 10px;
  top: 5%;
}

.edit-post::-webkit-scrollbar {
  visibility: hidden;
}

.editpost-form {
  width: 100%;
  margin-left: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  width: 100%;
  overflow: scroll;
  min-height: 20vh;
  max-height: 36vh;
}

.editpost-form::-webkit-scrollbar {
  width: 10px;
}

.editpost-form::-webkit-scrollbar-track {
  background-color: white;
  cursor: pointer;
}

.editpost-form::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 100px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .edit-post {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

@media (max-width: 630px) {
  .edit-post {
    left: calc(50% - 15rem);
    width: 30rem;
  }
  .image-cross {
    left: 91%;
  }
}

@media (max-width: 500px) {
  .edit-post {
    width: 100%;
    left: 0;
  }
  .edit-post .image-cross {
    left: 88% !important;
  }
}

@media (max-width: 350px) {
  .edit-post {
    width: 100%;
    left: 0;
  }
  .edit-post .image-cross {
    left: 84% !important;
  }
}

@media (max-height: 500px) {
  .edit-post {
    overflow: scroll;
    max-height: 90vh;
  }
  .edit-post::-webkit-scrollbar {
    visibility: hidden;
  }
}
/*# sourceMappingURL=Post.css.map */